#top-container{
  width: 100vw;
  height: 100vh;

  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;

  & > h1{
    margin-top: get-vw(250px);
    z-index: 2;
  }
  & > p{
    width: get-vw(500px);
    margin-top: get-vw(20px);

    text-align: center;
    z-index: 2;
  }

  .search-bar{
    width: get-vw(600px);
    height: get-vw(64px);
    margin-top: get-vw(30px);

    border: get-vw(2px) solid white;
    border-radius: get-vw(40px);
    backdrop-filter: blur(16px);

    z-index: 2;

    form{
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      input{
        flex: 1;
        height: 100%;
        padding-left: get-vw(40px);

        border: none;
        background-color: transparent;
        color: white;
      }

      button{
        width: get-vw(64px);
        height: get-vw(64px);

        border: none;
        background-image: url('../../images/search.svg');
        background-size: get-vw(20px);
        background-position: center;
        background-repeat: no-repeat;

        border-radius: 50%;
      }
    }
  }

  .categories{
    margin-top: get-vw(20px);
    z-index: 2;

    ul{
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: get-vw(20px);
    }

    li:not(:first-child){
      border-bottom: get-vw(2px) solid white;
      opacity: 0.5;
    }
    li:first-child{
      a{
        display: flex;
        align-self: flex-start;
      }
      a::before{
        width: get-vw(18px);
        height: get-vw(20px);
        margin-right: get-vw(10px);
        align-self: center;

        display: inline-block;

        background-image: url('../../images/catalog.svg');
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        content: '';
      }
    }

    li:hover{
      opacity: 1;
    }
  }
}

#slider-home-page{
  width: 100%;
  height: 100%;
  left: 0; top: 0;

  position: absolute;
  overflow: hidden;

  .slides-container{
    width: max-content;
    display: flex;
    transition: 0.3s ease-out;
    transform: translateX(calc(-100vw * var(--slide)));

    .slide{
      width: 100vw;
      height: 100vh;

      background-image: url('../../images/bg.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      color: white;

      .text-container{
        width: get-vw(900px);
        height: max-content;
        left: get-vw(40px);
        top: get-vw(640px);

        position: absolute;

        p{
          width: get-vw(740px);
          margin-top: get-vw(20px);
         }

        a{ margin-top: get-vw(30px); }
      }
    }
  }

  .controls{
    left: get-vw(90px);
    top: get-vw(948px);

    position: absolute;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: get-vw(10px);

    align-items: center;

    i.indicator{
      width: get-vw(12px);
      height: get-vw(12px);
      left: get-vw(25px);

      position: absolute;

      border-radius: 50%;
      background-color: white;
      transition: 0.25s;
      transform: translateX(calc(1.04167vw * var(--slide)));
    }

    button.go-to-slide{
      width: get-vw(10px);
      height: get-vw(2px);

      background-color: grey;
      border-radius: get-vw(10px);
    }

    button.prev-slide{
      width: get-vw(16px);
      height: get-vw(16px);
      border-left: get-vw(2px) solid white;
      border-top: get-vw(2px) solid white;

      border-radius: get-vw(2px);
      transform: rotate(-45deg);
    }
    button.next-slide{
      width: get-vw(15px);
      height: get-vw(15px);
      border-right: get-vw(2px) solid white;
      border-top: get-vw(2px) solid white;

      border-radius: get-vw(2px);
      transform: rotate(45deg);
    }
  }
}

#posts-container{
  width: 100%;
  padding: get-vw(40px);
  margin-top: 100vh;

  position: absolute;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: get-vw(40px);
  grid-row-gap: get-vw(40px);

  background-color: white;
  border-radius: get-vw(30px);
}
