@media screen and (min-width: 1025px){

  .button-link{
    width: max-content;
    height: get-vw(42px);
    padding: 0 get-vw(16px);

    display: flex;
    align-items: center;

    border: get-vw(2px) solid white;
    border-radius: get-vw(22px);
    backdrop-filter: blur(8px);

    color: white;
  }

}

@media screen and (max-width: 1024px){

  .button-link{
    width: max-content;
    height: m-get-vw(32px);
    padding: 0 m-get-vw(16px);

    display: flex;
    align-items: center;

    border: m-get-vw(1px) solid white;
    border-radius: m-get-vw(22px);
    backdrop-filter: blur(8px);

    color: white;
  }

}
