@mixin attribute{
  li{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content 1fr get-vw(360px);
    grid-column-gap: get-vw(10px);

    hr{
      height: get-vw(1.5px);
      margin-top: get-vw(8px);

      background-color: #111213;
      opacity: 0.25;
    }

    & :first-child{
      @include muller-16-medium;
      opacity: 0.5;
    }

    & :last-child{
      @include muller-16-bold;
    }
  }
}
